.bm-burger-bars{
    background-color: black;
    visibility: visible;
    
}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;

  }

  .bm-menu {
    background: white;
    
  }
  .bm-item-list{
   color:red;   
   margin: 20px;
   
  }