.bm-burger-bars{
    background-color: black;
    visibility: visible;
    
}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;

  }

  .bm-menu {
    background: white;
    
  }
  .bm-item-list{
   color:red;   
   margin: 20px;


   
  }

  #input{
    align-items:  center;
    align-content: center;
    width:50%;
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    color:red;
   flex-flow: row wrap;
    justify-content: center;
  }
  .buttun {
    margin-top: 15px;
    margin-right: 95px;
  }